*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
 }
 body{
 border: 2px solid rgb(255, 255, 255);
 }
 
 .containers{
     width: 100%;
     background-color: #191818;
   
 }
 .nav{
     width:96%;
     height: 70px;
     margin-left: 2%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: white;
   
 }
 .logo img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
 }
 .nav ul{
    margin-top: 15px;
     display:flex;
    align-items: center;
 } 
 .nav ul li{
     list-style: none;
    
 }
 .nav ul li a{
     font-weight: bold;
     color:rgb(255, 255, 255);
    padding: 12px 15px;
     text-decoration: none;
    transition: all .5s ease-in-out;
 }
 .nav ul li a:hover{
     background-color:rgb(255, 253, 253);
     color: rgb(0, 0, 0);
     transition: all .3s ease-in-out;
 }
 .nav button{
     width: 150px;
     height: 50px;
     color:rgb(255, 255, 255);
     font-weight: bolder;
     background-color:rgb(0, 0, 0);
     border: 2px solid yellow;
     border-radius: 10px;
     transition: all .7s ease;
 }
 .nav button:hover{
    
    color: yellow;
     box-shadow: 4px 4px 5px black;
     transition: all .7s ease;
 }
 
 .nav2{
     position: absolute;
     top:0;
     left: 0;
     width:370px;
     height: 100vh;
     display: flex;
     z-index: 1;
     transition: all 1s ease-in-out;
     background-color: #191818;
 }
 .logo2{
    display: inline-block;
    width: 100%;
    display: flex;
 
    justify-content: center;
    margin-left: 50px;
 }
 .logo2 img{
    margin-top: 10px;
    width: 50px;
    height: 50px ;
    margin-left: -60px;
    border-radius: 25px;
 }

 .nav2 ul{
     width: 100%;
     text-align: center;
 }
 .nav2 ul li{
     list-style: none;
     width: 100%;
     padding: 15px ;
 }
 .nav2 ul li a{
     text-decoration: none;
     font-weight: bold;
     color:rgb(255, 255, 255);
     padding: 12px 35px;
     transition: all .3s ease-in-out;
 }
 .nav2 ul li a:hover{
     background-color:rgb(255, 255, 255);
     color: rgb(0, 0, 0);
     transition: all .3s ease-in-out;
 }
 .nav2 button{
     width: 150px;
     height: 40px;
     color: white;
     font-weight: bolder;
     background-color:#4c2e9f;
     border: none;
     margin-left: 25%;
     transition: all .4s ease;
 }
 
 .hamburger{
     position: absolute;
     top:10px;
     right: 7%;
     width: 40px;
     height: 40px;
     border: 2px solid rgb(255, 251, 251);
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     cursor: pointer;
     display: none;
 }
 .hamburger span{
     width: 80%;
     height:2.5px;
     background-color: rgb(255, 255, 255);
 }
 @media screen and (max-width:1200px){
     .hamburger{
         display:flex;
     }
     .nav button{
         display: none;
     }
     .nav2{
         width: 300px;
     }
     .nav ul li{ 
         display: none;
     }
     .nav2{
         display: none;
     }
 }
 @media screen and (max-width:500px){
     .nav2{
         width: 250px;
     }
     .nav2 button{
         margin-left: 20%;
     }
 }
 @media screen and (max-width:400px){
     .nav2{
         width: 200px;
     }
     .nav2 button{
         margin-left: 15%;
     }
     .logo2{
         margin-left: 20px;
     }
     .nav2{
        width:65%;
     }
     .nav2 img{
        margin: 0%;
        margin-top: 10px;
     }
 }